body {
    color: #000;
}

.title {
    font-family: 'Bookman', cursive;
}

.done {
    text-decoration: line-through;
    color: #cfcfcf;
}

.excel-icon {
    height: 50px;
}

.requerimiento {
    font-weight: 900;
    font-size: 20px;
}