{% extends "base.html" %}


{% block menu_principal %}
<h1 class="text-center mt-4 mb-4 title">Intervalos de confianza para medias</h1>

        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <a href="/sinExcel">
                    <button class="btn btn-outline-primary btn-lg" style="height: 100%;">
                        Sin archivo excel
                    </button>
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a  href="/subirExcel">
                    <button class="btn btn-outline-primary btn-lg">
                        Con archivo excel <span><img class="excel-icon" src="/static/excelIcon.png"/></span>
                    </button>
                </a>
            </div>
        </div>
{% endblock %}

{% block equipo %}
<div class="jumbotron jumbotron-fluid mt-5 mb-5 pt-3 pb-4">
  <div class="container">
    <h2 >Equipo</h2>
    <ul>
        <li><p class="lead">Alberto Baltazar Gutiérrez Ortega - 1887970</p></li>
        <li><p class="lead">Francisco Javier Martínez Palomar - 1937837</p></li>
        <li><p class="lead">Kevin Alexis Nájera Ábrego - 1798194</p></li>
        <li><p class="lead">Octavio De Jesus Govea Peña - 1795700</p></li>
        <li><p class="lead">Laura Mayte Mireles Garza - 1626005</p></li>
        <li><p class="lead">Daniel Muñoz Guerrero (Sonic) - 1800446</p></li>
        <li><p class="lead">Elí Israel Delgado Escárcega - 1821213</p></li>
    </ul>
  </div>
</div>
{% endblock %}