{% extends "base.html" %}


{% block menu_principal %}
<h1 class="text-center mt-5 mb-4 title">Intervalos de confianza para medias</h1>

        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <a href="/sinExcel">
                    <button class="btn btn-outline-primary btn-lg" style="height: 100%;">
                        Sin archivo excel
                    </button>
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a  href="/subirExcel">
                    <button class="btn btn-outline-primary btn-lg">
                        Con archivo excel <span><img class="excel-icon" src="/static/excelIcon.png"/></span>
                    </button>
                </a>
            </div>
        </div>
{% endblock %}

{% block equipo %}
<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <h1 >Equipo</h1>
    <ul>
        <li><p class="lead">Alberto Baltazar Gutiérrez Ortega - 1887970</p></li>
    </ul>
  </div>
</div>
{% endblock %}